anyio==3.6.1
asgiref==3.5.2
beautifulsoup4==4.11.1
blis==0.7.7
catalogue==2.0.7
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.3
cymem==2.0.6
dnspython==2.2.1
email-validator==1.2.1
es-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.3.0/es_core_news_sm-3.3.0-py3-none-any.whl
fastapi==0.78.0
gensim==4.2.0
h11==0.13.0
httptools==0.4.0
idna==3.3
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.1.0
langcodes==3.3.0
langdetect==1.0.9
MarkupSafe==2.1.1
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626186066731/work
mkl-service==2.4.0
murmurhash==1.0.7
nltk==3.7
numpy @ file:///opt/conda/conda-bld/numpy_and_numpy_base_1652801679809/work
orjson==3.6.8
packaging==21.3
pathy==0.6.1
preshed==3.0.6
pydantic==1.8.2
pyparsing==3.0.9
pyspellchecker==0.6.3
python-dotenv==0.20.0
python-multipart==0.0.5
PyYAML==6.0
pyzmq==23.0.0
regex==2022.4.24
requests==2.27.1
scikit-learn==1.1.1
scipy==1.8.1
six @ file:///tmp/build/80754af9/six_1644875935023/work
sklearn==0.0
smart-open==5.2.1
sniffio==1.2.0
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
spacy==3.3.0
spacy-legacy==3.0.9
spacy-loggers==1.0.2
srsly==2.4.3
starlette==0.19.1
thinc==8.0.15
threadpoolctl==3.1.0
tqdm==4.64.0
typer==0.4.1
typing_extensions==4.2.0
ujson==5.2.0
Unidecode==1.3.4
urllib3==1.26.9
uvicorn==0.17.6
uvloop==0.16.0
wasabi==0.9.1
watchgod==0.8.2
websockets==10.3
zmq==0.0.0
